@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
  background-color: color('bg-white');
  border-bottom: 1px solid color('gray-200');
  position: sticky;
  top: 0;
  z-index: 100;
  min-height: 80px;
  display: flex;
  align-items: center;

  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 space('6');

    @media (max-width: 768px) {
      padding: 0 space('4');
    }
  }
}
