@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.footer {
  background-color: color("footer-bg");
  color: white;
  padding: space("10") 0 0 0;
  margin-top: auto;

  @include tablet {
    padding: space("8") 0 0 0;
  }

  @include mobile {
    padding: space("6") 0 0 0;
  }

  .container {
    @include container;
  }

  // Contact Section
  &__contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: space("8");
    padding-bottom: space("8");

    @include tablet {
      grid-template-columns: 1fr;
      gap: space("6");
      padding-bottom: space("6");
    }

    @include mobile {
      gap: space("5");
      padding-bottom: space("5");
    }
  }

  &__contact-item {
    display: flex;
    gap: space("3");
    align-items: flex-start;

    @include mobile {
      gap: space("2.5");
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: radius("full");
    border: 1px solid rgba(255, 255, 255, 0.2);
    @include flex-center;
    color: white;

    @include mobile {
      width: 44px;
      height: 44px;
    }
  }

  &__contact-content {
    flex: 1;

    h4 {
      font-size: map-get($font-sizes, "body");
      font-weight: map-get($font-weights, "regular");
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: space("1");

      @include mobile {
        font-size: map-get($font-sizes-mobile, "small");
      }
    }

    p {
      font-size: map-get($font-sizes, "body");
      font-weight: map-get($font-weights, "semibold");
      color: white;
      margin: 0;
      line-height: 1.6;

      @include mobile {
        font-size: map-get($font-sizes-mobile, "body");
      }
    }
  }

  &__name {
    margin-bottom: space("1");
  }

  &__email {
    font-size: map-get($font-sizes, "md");

    @include mobile {
      font-size: map-get($font-sizes-mobile, "body");
    }
  }

  &__email-link {
    @include flex-start;
    gap: space("1");
    color: color("error");
    text-decoration: none;
    font-size: map-get($font-sizes, "small");
    font-weight: map-get($font-weights, "medium");
    margin-top: space("1");

    &:hover {
      text-decoration: underline;
    }

    @include mobile {
      font-size: map-get($font-sizes-mobile, "xs");
    }
  }

  // Disclaimer
  &__disclaimer {
    border-top: 1px solid rgba(172, 177, 198, 1);
    padding: space("6") 0;

    @include tablet {
      padding: space("5") 0;
    }

    @include mobile {
      padding: space("4") 0;
    }

    p {
      font-size: map-get($font-sizes, "body-md");
      font-style: italic;
      font-weight: map-get($font-weights, "light");
      line-height: 1.8;
      color: rgba(255, 255, 255, 0.6);
      text-align: center;
      margin: 0;

      @include tablet {
        font-size: map-get($font-sizes-tablet, "body");
      }

      @include mobile {
        font-size: map-get($font-sizes-mobile, "small");
        line-height: 1.6;
      }
    }
  }

  // Copyright
  &__copyright {
    background-color: color("error");
    padding: space("3") 0;

    @include mobile {
      padding: space("2.5") 0;
    }

    p {
      text-align: center;
      font-size: 0.97rem;
      font-weight: map-get($font-weights, "regular");
      color: white;
      margin: 0;

      @include mobile {
        font-size: map-get($font-sizes-mobile, "small");
      }
    }
  }
}
